body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    background-color: #ebf8ff;
}

.introduction {
    display: flex;
    margin-bottom: 5%;
}

.different-color {
    color: #0a92e0;
}

#quote {
    font-size: 40px;
}

.intro {
    width: 50%;
}

.text {
    margin-left: 5%;
    margin-top: 15%;
}

.text h1 {
    font-size: 55px;
    margin: 0;
    color: #575757;
    font-family: 'Montserrat', sans-serif;
}

.text p {
    color: gray;
    font-size: 25px;
    margin-top: 5%;
    margin-bottom: 7%;
}

.text a {
    background-image: linear-gradient(#3fb8fd, #8b85fc);
    padding: 15px 40px;
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: 800;
    border-radius: 20px;
}

.intro img {
    margin-top: 20%;
    width: 80%;
}

.about {
    display: flex;
    background-image: url(image/about.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10%;
}

.know-us {
    width: 50%;
}

.know-us img {
    margin-top: 40%;
    margin-left: 30%;
    width: 70%;
}

.agenda {
    margin-top: 10%;
    margin-right: 20%;
    margin-left: 10%;
}

.agenda h2 {
    font-size: 45px;
    color: #575757;
}

.agenda p {
    color: gray;
    font-size: 25px;
    margin-top: 7%;
    margin-bottom: 10%;
}

.agenda a {
    background-image: linear-gradient(#3fb8fd, #8b85fc);
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: 800;
    border-radius: 20px;
}

.recipies {
    margin-top: 5%;
    margin-bottom: 10%;
}

.recipie-talk {
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 5%;
}

.recipie-talk h1 
{
    font-size: 55px;
    margin: 0;
    color: #575757;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
}

.recipie-talk p {
    color: gray;
    font-size: 25px;
}

.recipie-items {
    display: flex;
    align-items: center;
    margin-bottom: 10%;
    margin-left: 5%;
    margin-right: 5%;
}

.single-item {
    width: 30%;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 20px;
    border-radius: 25px;
    box-shadow: 10px 10px 30px gray;
}

.single-item h1 {
    font-size: 30px;
    color: #575757;
}

.single-item p 
{
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
}

.just-item img {
    width: 100%;
    border-radius: 20px;
}

.foodies {
    margin-bottom: 5%;
}

.proof {
    display: flex;
    align-items: center;
}

.foodie-proof {
    width: 40%;
    margin-left: 60px;
    margin-right: 20px;
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 20px;
    border-radius: 25px;
    box-shadow: 10px 10px 30px gray;
}

.foodie-proof img {
    width: 100%;
}

.foodie-proof p {
    color: gray;
    font-size: 25px;
}

.foodie-talk {
    text-align: center;
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 5%;
}

.foodie-talk h1 {
    font-size: 35px;
    color: #575757;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;

}

.foodie-talk p {
    font-size: 25px;
    color: gray;
}

.contact {
    margin-top: 5%;
    margin-bottom: 10%;
}

.contact-text {
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 5%;
}

.contact-text h1 {
    font-size: 35px;
    color: #575757;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
}

.contact p {
    font-size: 30px;
    color: gray;
}

.contact-image {
    display: flex;
    margin-left: 35%;
}

.contact-image img {
    height: 70px;
    width: 70px;
}

footer {
    background-color: #0b0e17;
    margin-bottom: 0;
    display: block;
}

.footer-talk p {
    margin-left: 35%;
    padding-top: 30px;
    padding-bottom: 20px;
    color: #5b5b5b;
    font-size: 40px;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
}

.copyright p {
    padding-bottom: 15px;
    text-align: center;
    color: white;
    font-size: 15px;
    background-color: #0b0e17;
}